
@{
    ViewBag.Title = "About Rob's Website";
}

<h2>About</h2>

<p>
    Welcome to my site. Rob here, setting up a website for the first time in over a decade. I have started school again for computer programming / web development. I chose the CWPD program for several reasons, the main being that I was paralyzed in 2013. This left me unable to be a heavy duty bus mechanic, and because I have experience and an interest in this field along with some personal projects I have in mind for me and a few others. I heard about this program because I took some continuing education classes here at Clover Park Technical College in 1997 for HTML and Visual Basic. My goal is to get back in the work field I have a few different ideas as to what level and where, but at current I have no clue to the actual end game yet for me. I have very little experience with the level of programming and databases that I intend to learn and implement or display here. That being said I have done plenty in computers over the years building them, html, some minor programming, working with different programs of all types of things like cad, sounds, graphics, ftp all sorts really. I look forward to learning this and moving forwards in this career field.

</p>